flux_nodered_esp32.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Dashboard ESP32",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker1",
        "type": "mqtt-broker",
        "name": "Broker local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "in_distance",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Ultrason",
        "topic": "esp32/ultrason",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker1",
        "x": 140,
        "y": 80,
        "wires": [["gauge_distance"]]
    },
    {
        "id": "gauge_distance",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Distance",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance (ultrason)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 20,
        "seg2": 50,
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "in_sol",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sol",
        "topic": "esp32/sol",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker1",
        "x": 140,
        "y": 140,
        "wires": [["gauge_sol"]]
    },
    {
        "id": "gauge_sol",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Sol",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité du sol",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": 30,
        "seg2": 60,
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "in_temp",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Température",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker1",
        "x": 150,
        "y": 200,
        "wires": [["chart_temp"]]
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Température",
        "group": "group2",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4"],
        "x": 380,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "in_hum",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Humidité air",
        "topic": "esp32/humidite",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker1",
        "x": 150,
        "y": 260,
        "wires": [["chart_hum"]]
    },
    {
        "id": "chart_hum",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Humidité air",
        "group": "group2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité air (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#2ca02c"],
        "x": 390,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "in_feu",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Etat feu",
        "topic": "esp32/feu",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker1",
        "x": 140,
        "y": 320,
        "wires": [["text_feu"]]
    },
    {
        "id": "text_feu",
        "type": "ui_text",
        "z": "flow1",
        "group": "group3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Etat du feu",
        "label": "Feu de signalisation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Capteurs environnement",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group2",
        "type": "ui_group",
        "name": "Historique DHT11",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group3",
        "type": "ui_group",
        "name": "Feu de signalisation",
        "tab": "tab1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
